# fly.toml file generated for swuecho-chat on 2023-04-15T12:26:26+08:00

app = "swuecho-chat"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "dfw"
processes = []

# flyctl secrets set OPANAI_RATELIMIT=1
[experimental]
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 100 
    soft_limit = 80
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
