tmp/
chat_backend
env.sh
static/assets/
static/favicon.ico
static/favicon.svg
static/index.html
static/manifest.webmanifest
static/pwa-192x192.png
static/pwa-512x512.png
static/registerSW.js
static/sw.js
static/workbox-e0782b83.js